<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.bean.User">
    <!--@mbg.generated generated on Thu Aug 15 09:49:04 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Aug 15 09:49:04 CST 2019.-->
    id, username, `password`
  </sql>

  <resultMap type="com.bean.User" id="selectOneUser">
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />

  </resultMap>
  <select id="selectUser" parameterType="com.bean.User"
          resultMap="selectOneUser">
    select * from user where username = #{ username} and
    password =#{password}

  </select>

</mapper>